<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-form></app-form>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table">
        <table>
          <tbody>
            <tr>
              <td>
                <h4>
                  <a href="#">#</a>
                </h4>
                <p>Owner:
                <a href="#"></a></p>
                <p>Details: </p>
                <p>Date Created: </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
